body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/images-videos/alune-tft-650@1@o-preview.jpg");
    background-repeat:no-repeat ;
    background-size: 1700px;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFCC99;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFCC99(0, 0, 0, 0.1);
    border: 2px solid #333;
}

h1 {
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

input[type="file"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid gray;
}

button:hover {
    background-color: #FFCC99;
    color: black
}